{% extends 'accounts/auth_layout.html' %}
{% load static %}
{% block head_auth %}
<title>Trattamento dati</title>
{% endblock%}
{% block content_auth %}
<div class="data-treatment-box">
  <h1>INFORMATIVA E DICHIARAZIONE DI CONSENSO AL TRATTAMENTO DEI DATI PERSONALI </h1>
  <section class="data-section">
    <div class="header">
      <h2>TITOLARE DEL TRATTAMENTO</h2>
    </div>
    <div class="body">
      <p>
        Titolare del trattamento è prof. Michele Emdin <br>
        Referente interno/Responsabile interno autorizzato al trattamento è Leonetti Filippo
      </p>
    </div>
  </section>
  <section class="data-section">
    <div class="header">
      <h2>FINALITÀ DEL TRATTAMENTO E BASE GIURIDICA </h2>
    </div>
    <div class="body">
      <p>
        Ai fini dell’applicazione della normativa europea e nazionale in materia (Reg. UE 679/2016, d’ora in poi
        Regolamento,
        e D. Lgs. n. 196/2003 e ss.mm.), si informa che i dati personali forniti sono memorizzati sul sito Web e lo
        scopo della
        raccolta di questi dati è ottimizzare il layout del sito Web. Il Titolare del trattamento utilizza diversi
        strumenti per far
        funzionare in modo ottimale il sito web, migliorare la facilità d'uso e raccogliere attivamente feedback dagli
        utenti.
        Nell'area login l'accesso è consentito solo agli account privati assegnati dal Titolare.
        Il Titolare raccoglie i dati personali di tali utenti al fine di dare accesso
        all'area riservata e con scopo di archiviazione, quali:
        <ul>
          <li>Nome</li>
          <li>Cognome</li>
          <li>Indirizzo Email</li>
          <li>Ultimo accesso al sito</li>
          <li>Anno accademico di iscrizione a medicina</li>
          <li>Tutor della Scuola Superiore Sant'Anna</li>
          <li>Settore/Istituto di riferimento*</li>
          <li>Titolo*</li>
          <li>Componente di scuola*</li>
          <li>Informazioni sulla scadenza dell'account*</li>
        </ul>
        La base giuridica di tale trattamento dei dati è la manifestazione del consenso prestato ai sensi e per gli
        effetti
        dell’art. 6 GDPR.
        La durata del trattamento dei dati è fino a un periodo illimitato costituendo
        un’archiviazione a fini di ricerca e archiviazione. <br>
        * nel caso di utenti che hanno effettuato l'accesso tramite l'account fornito dalla Scuola Superiore Sant'Anna di Pisa.
      </p>
    </div>
  </section>
  <section class="data-section">
    <div class="header">
      <h2>MODALITÀ DEL TRATTAMENTO</h2>
    </div>
    <div class="body">
      <p>
        Il trattamento per le finalità sopra indicate può essere effettuato sia su supporto digitale,
        con strumenti elettronici o, comunque, automatizzati, tra cui l' accesso alla piattaforma web stessa, google
        analitics.
        L’accesso ai dati acquisiti per le suddette finalità è consentito al Titolare, al Responsabile interno, agli
        Allievi ed Ex-Allievi del Settore di Scienze Mediche, Professori e a particolari figure designate dal Titolare.
      </p>
    </div>
  </section>
  <section class="data-section">
    <div class="header">
      <h2>PERIODO DI CONSERVAZIONE DEI DATI E CRITERI PER LA SUA DETERMINAZIONE</h2>
    </div>
    <div class="body">
      <p>
        I dati acquisiti saranno trattati,
        conservati e comunicati nel rispetto della normativa europea e nazionale in materia
        (Regolamento UE 679/2016 e D. Lgs. n. 196/2003 e ss.mm.ii.) per il periodo necessario allo
        svolgimento delle suddette attività.
      </p>
    </div>
  </section>
  <section class="data-section">
    <div class="header">
      <h2>DIRITTI DELL’INTERESSATO</h2>
    </div>
    <div class="body">
      <p>
        In qualità di soggetto interessato può chiedere in qualsiasi momento al Titolare:
      <ul>
        <li>la conferma dell’esistenza o meno di dati personali che lo riguardano;</li>
        <li>l'accesso ai suoi dati personali ed alle informazioni relative agli stessi;
          la rettifica dei dati inesatti o l'integrazione di quelli incompleti;
          la cancellazione dei dati personali che la riguardano
          (al verificarsi di una delle condizioni indicate nell'art. 17, paragrafo 1 del Regolamento e nel
          rispetto delle eccezioni previste nel paragrafo 3 dello stesso articolo);
          la limitazione del trattamento dei suoi dati personali
          (al ricorrere di una delle ipotesi indicate nell'art. 18, paragrafo 1 del Regolamento),
          la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge,
          compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati
          sono stati raccolti o successivamente trattati;
        </li>
      </ul>
      In qualità di soggetto interessato ha inoltre diritto di opporsi in tutto o in parte per motivi legittimi
      al trattamento dei dati personali che lo riguardano, ancorché pertinenti allo scopo della raccolta.
      Tali diritti sono esercitabili rivolgendosi al Titolare o al Responsabile interno, scrivendo a
      f.leonetti@santannapisa.it, oppure al Presidio Privacy della Scuola: privacy@santannapisa.it;
      può, altresì, contattare il Responsabile della protezione dati per tutte le questioni relative al trattamento e
      all’esercizio dei diritti: dpo@santannapisa.it.
      Qualora ritenga che i suoi diritti siano stati violati dal titolare e/o da un terzo,
      ha il diritto di proporre reclamo all’Autorità per la protezione dei dati personali e/o ad altra autorità di
      controllo competente in forza del Regolamento.
      </p>
    </div>
  </section>
  <section class="data-section">
    <div class="header">
      <h2>Cookie</h2>
    </div>
    <div class="body">
      <h3>Cos'è un cookie?</h3>
      <p>
        Un cookie è un piccolo file di informazioni memorizzato nel tuo browser e riconosce il tuo dispositivo alle
        visite future. Nessun dato personale viene memorizzato nei nostri cookie e non possono contenere virus. Quasi
        tutti i siti web utilizzano cookie
        (https://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/3585077).
      <p>
      <h3>Come eliminare i cookie</h3>
      <p>
        Se desideri bloccare i cookie da [*], la maggior parte dei browser dispone di impostazioni avanzate per i cookie
        nelle opzioni/impostazioni Internet. Puoi aggiungere questo dominio all'elenco di altri siti Web da cui desideri
        bloccare i cookie.
        Come eliminare i cookie: www.aboutcookies.org/default.aspx


        Se non desideri che la tua visita al nostro sito Web venga registrata da Google Analytics, puoi installare il
        componente aggiuntivo del browser per la disattivazione di Google. Installando questo componente aggiuntivo, non
        verranno registrate nemmeno le tue visite ad altri siti Web che utilizzano Google Analytics.
      </p>
      <h3>A cosa servono i cookie su questo sito?</h3>
      <p>
      <ul>
        <li>
          Funzioni tecniche, in modo da poter salvare le tue preferenze. Ad esempio, se hai accettato o meno i cookie.
        </li>
        <li> Utilizziamo i cookie strettamente necessari per consentirti di spostarti all'interno del sito o per fornire
          alcune funzionalità di base. Utilizziamo i cookie per migliorare la funzionalità del sito web. Utilizziamo
          anche
          i cookie per aiutarci a migliorare le prestazioni del nostro sito Web per offrirti una migliore esperienza
          utente.
        </li>
        <li> Questo sito web utilizza Google Analytics, un servizio di analisi web fornito da Google, Inc. ("Google")
          che
          utilizza i cookie. Le informazioni generate dal cookie sull'utilizzo del sito Web (compreso il tuo indirizzo
          IP)
          verranno trasmesse e archiviate da Google su server negli Stati Uniti. Google utilizzerà queste informazioni
          allo scopo di esaminare il tuo utilizzo del sito web, compilare report sulle attività del sito web per gli
          operatori del sito web e fornire altri servizi relativi alle attività del sito web e all'utilizzo di Internet.
          Google può anche trasferire queste informazioni a terzi ove ciò sia imposto dalla legge o laddove tali terzi
          trattino le suddette informazioni per conto di Google. Google non assocerà il tuo indirizzo IP a nessun altro
          dato posseduto da Google. Utilizzando questo sito Web, acconsenti al trattamento dei dati su di te da parte di
          Google secondo le modalità e per le finalità sopra indicate.
        </li>
        <li> Utilizziamo anche una serie di servizi di terze parti, come i servizi di Facebook, YouTube e Google. Terze
          parti possono ricevere informazioni come il browser utilizzato, l'indirizzo IP e le pagine visitate sul nostro
          sito Web. Se sei connesso a Facebook o Google, mentre visiti questo sito web, questi dati possono essere
          collegati al tuo profilo su questo servizio. Questo è al di fuori del nostro controllo ed è quindi una
          questione
          tra te e terze parti.
        </li>
      </ul>
      </p>
    </div>
  </section>
</div>
{% endblock %}