:root {
  --success: #4eac47;
  --danger: #d04f4f;
  --primary: #449c9f;
  --secondary: #6c757d;
  --info: #8c6292;
  --orange: #f56300;
  --white: #f2f2f2;
  --backgroundColor: #ffffff;
  --inputColor: #ffffff;
  --fontColor: #000000;
  --itembackgroundColorList: rgba(241, 241, 241, 0.95);
}
[data-theme="dark"] {
  --success: #334a35;
  --danger: #6b1616;
  --primary: #103b3b;
  --secondary: #4f555a;
  --info: #39243c;
  --backgroundColor: #222428;
  --inputColor: #303339;
  --fontColor: #ffffff;
  --itembackgroundColorList: #36393F;
}
html, body {
  height: 100%;
}
body {
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
  font-family: 'Alegreya SC', serif;
  line-height: 1.19048;
  letter-spacing: .011em;
  font-weight: 900;
}
[data-theme="light"] h1, [data-theme="light"] .h1 {
  color: #000000;
}
[data-theme="dark"] h1, [data-theme="dark"] .h1 {
  color: #F4F5F7;
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
  line-height: 1.19048;
  font-weight: 800;
  letter-spacing: .011em;
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 600;
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.small {
  font-size: 0.6rem;
  line-height: 1;
  font-weight: 200;
}
.lighbold {
  font-weight: 600;
}
.mt-1, .my-1 {
  margin-top: 1rem !important;
}
.mb-1, .my-1 {
  margin-bottom: 1rem !important;
}
.py-1, .pb-1 {
  padding-bottom: 1rem !important;
}
.py-1, .pt-1 {
  padding-top: 1rem !important;
}
.pr-0 {
  padding-right: 0 !important;
}
hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
}
[data-theme="light"] hr{
  border-top: 1px solid #000000;
}
[data-theme="dark"] hr{
  border-top: 1px solid #F4F5F7;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.display-md {
  display: none;
}
.hidden-md {
  display: block;
}
.display-lg {
  display: none;
}
.d-flex {
  display: flex;
}
@media screen and (min-width: 576px){
  .text-sm-left {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .hidden-md {
    display: none;
  }
  .display-md {
    display: block;
  }
  .text-md-left {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .display-lg {
    display: block;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
}


/* Auth  */
.auth-external-container {
  background-color: #F7F7F7;
  min-height: 100%;
  min-height: 100vh;
  position: relative;
}
.auth-header-row {
  background-color: #68BBE3;
  padding: 1rem 0;
}
.auth-header {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
}
.auth-header-first {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Zilla Slab", serif;
  text-align: center;
}
.auth-header-second {
  font-size: 3rem;
  margin-left: 2rem;
  font-family: "Alegreya SC", serif;
  text-align: center;
}
.auth-login-container,
.auth-registration-container,
.auth-setup-container {
  text-align: center;
  padding: 1rem;
  position: relative;
  background-color: white;
  margin: 2rem auto;
  max-width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.auth-setup-container {
  max-width: 60%;
}
.auth-login-btn,
.auth-registration-btn {
  color: white;
  font-weight: 800;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 0.3rem 0.6rem;
  border-radius: 30px;
  background-color: var(--orange);
}
.auth-registration-btn.back{
  background-color: var(--danger);
}
.auth-login-btn:hover, .auth-registration-link:hover, .auth-registration-btn:hover,
.auth-waiting-btn:hover, .auth-setup-btn:hover {
  transform: scale(1.05);
}
.auth-registration-link, .auth-registration-link:hover, .auth-back-link, .auth-back-link:hover,
.auth-registration-btn, .auth-registration-btn:hover{
  text-decoration: none;
  color: inherit;
}
.auth-registration-link, .auth-registration-link:hover {
  color: black;
}
.auth-registration-link {
  text-align: center;
}
.auth-login-container .form-group input,
.auth-registration-container .form-group input,
.auth-waiting .form-group input{
  padding: 0.3rem !important;
}
.auth-waiting {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  padding-top: 1rem;
}
.auth-waiting-btn,
.auth-setup-btn {
  color: white;
  text-align: center;
  font-weight: 800;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  background-color: var(--success);
}
.auth-setup-btn {
  padding: 0.3rem 0.8rem;
}
.auth-setup-container .select-css {
  margin: 1rem auto;
  width: 80%;
  height: auto;
}
.auth-registration-container .inline-form-group,
.auth-setup-container .inline-form-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
}
@media screen and (min-width: 770px) {
  .auth-header {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .auth-login-container,
  .auth-registration-container {
    text-align: left;
    position: relative;
    background-color: white;
    margin: 3rem auto;
    padding: 0;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 70%;
  }
  .vertical-aligment {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1rem;
  }
  .auth-login-container {
    max-width: 70%;
  }
  .auth-registration-container {
    max-width: 80%;
  }
  .auth-login-img,
  .auth-registration-img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .auth-registration-img {
    height: 100%;
    object-fit: cover;
  }
  .auth-login-container input,
  .auth-registration-container input{
    font-size: 1rem;
    font-weight: 800;
    min-width: 220px;
    width: 100%;
  }
  .auth-registration-container .inline-form-group input,
  .auth-setup-container .inline-form-group input{
    width: 20px !important;
    max-width: 20px !important;
    min-width: 20px !important;
  }
}
@media screen and (min-width: 992px){
  .auth-login-container, .auth-registration-container {
    text-align: left;
    position: relative;
    background-color: white;
    margin: 3rem auto;
    padding: 0;
    max-width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .auth-registration-container {
    max-width: 60%;
  }
  .auth-footer {
    padding-top: 2rem;
  }
  .auth-waiting {
    text-align: left;
  }
  .auth-setup-container {
    max-width: 40%;
  }
}
/* Data Treatment */
.data-treatment-box {
  padding: 1rem;
}

.data-treatment-box .data-section {
  margin: 0.2rem 0;
}


/* Forms */

.form-group {
  margin-bottom: 1rem;
}
.form-group:after,
.form-group-sm:after,
.row:after{
  clear:both;
}
.form-group-sm {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}
.form-row {
  padding: 0.5rem 0;
  font-size: 13px;
}
label {
  font-size: 1.1rem;
}
input[type=text],
input[type=email],
input[type=date],
input[type=number],
input[type=password],
select,
option,
textarea {
  width: 100%;
  background-color: var(--inputColor);
  border: 1px solid black;
  color: var(--fontColor);
}
input[type="checkbox"] {
  margin-right: 0.5rem;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled], fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}

.invalid-message {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: var(--orange);
  font-weight: 700;
}
.invalid input,
.invalid textarea {
  border-color: var(--orange);
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--fontColor);
  border: 1px solid black;
  color: var(--fontColor);
  -webkit-box-shadow: 0 0 0 1000px var(--inputColor) inset;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type=date].form-control, input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control {
    line-height: 14px;
  }
}

.not-found {
  color: var(--orange);
  text-decoration: underline;
  font-weight: 700;
}
.select-css {
  margin: 0 auto;
  display: block;
  color: var(--fontColor);
  font-weight: 600;
  padding: .6em 1em .5em .8em;
  width: 80%;
  max-width: 100%;
  border: 1px solid var(--secondary);
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
[data-theme="light"] .select-css {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, var(--inputColor) 100%);
}
[data-theme="dark"] .select-css {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #222428 0%, var(--inputColor) 100%);
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: var(--fontColor);
  outline: none;
}
.select-css option {
  font-weight:normal;
}

*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

.select-css:disabled, .select-css[aria-disabled=true] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: var(--secondary);
}
@media screen and (min-width: 768px) {
  .select-css {
    margin: 0;
  }
}

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}
.form-footer button {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

@media screen and (min-width: 400px) {
  .form-footer {
    flex-direction: row;
  }
}
span.remove-file {
  font-size: 80%;
  color: var(--orange);
  font-weight: 700;
  cursor: pointer;
  float: right;
}
.btn-file {
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 700;
  color: var(--orange);
  background-color: inherit;
  display: inline-block;
}

.btn-file:hover {
  transform: scale(1.04);
}
input[type="file"] {
  position: absolute;
  top: -5000px;
}
/* General */

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
[data-theme="dark"] .shadow {
  background-color: #36393F;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.act-title-detail {
  color: #449C9F;
}
