.number {
  display: flex;
  align-items: center;
  justify-content: left;
}
span {
  cursor: pointer;
}
.minus, .plus {
  width: 25px;
  height: 25px;
  background-color: var(--itembackgroundColorList);
  border-radius: 4px;
  border: 1px solid var(--itembackgroundColorList);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.counter {
  height: 34px;
  width: 130px !important;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
}
.counter-md {
  width: 240px !important;
  font-size: 1rem !important;
}
.counter-lg {
  width: 400px !important;
  font-size: 1rem !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}