<!DOCTYPE html>
{% load static %}
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="dc.language" content="ita" scheme="RFC1766">
  <meta name="description" content="Raccolta delle esperienze e dei tirocini svolti
  dagli Allievi di medicina della Scuola Superiore Sant'Anna di Pisa">
  <meta name="author" content="Filippo Leonetti">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

  <!-- tag canonico -->

  <link rel="canonical" href="https://medexperiences.santannapisa.it/accounts/login"/>

  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <!--Favicon-->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png'%}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png'%}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png'%}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png'%}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png'%}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png'%}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png'%}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png'%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png'%}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png'%}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png'%}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png'%}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png'%}">
  <link rel="manifest" href="{% static 'favicon/manifest.json'%}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png'%}">
  <meta name="theme-color" content="#ffffff">

  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap" rel="stylesheet">


  <!--Facebook -->
  <meta property="og:url" content="https://medexperiences.santannapisa.it"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="MedExperiences, Sant'Anna"/>
  <meta property="og:description"
        content="Attività degli Allievi di medicina della Scuola Superiore Sant'Anna di Pisa."/>
  <meta property="og:image" content="https://medexperiences.santannapisa.it/static/img/auth/login2.jpeg"/>


  <!--Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@nytimes">
  <meta name="twitter:creator" content="@FilippoLeonetti">
  <meta name="twitter:title" content="MedExperiences, Sant'Anna">
  <meta name="twitter:description"
        content="Attività degli Allievi di medicina della Scuola Superiore Sant'Anna di Pisa.">
  <meta name="twitter:image"
        content="https://medexperiences.santannapisa.it/static/img/auth/login1.jpg">

  {% block head %} {% endblock %}
</head>
<body>
{% block content %} {% endblock %}
{% block js %} {% endblock %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "MedExperiences",
    "url": "https://medexperiences.santannapisa.it",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>
</body>
</html>
