{% extends 'base.html' %}
{% load static %}
{% block head %}
  <script type="module" src="http://localhost:8001/@vite/client"></script>
  <script type="module">
    import RefreshRuntime from "http://localhost:8001/@react-refresh";

    RefreshRuntime.injectIntoGlobalHook(window);
    window.$RefreshReg$ = () => {
    };
    window.$RefreshSig$ = () => (type) => type;
    window.__vite_plugin_react_preamble_installed__ = true;
  </script>
{% endblock%}
{% block content %}
  <div id="backdrop-root"></div>
  <div id="overlay-root"></div>
  <div id="root"></div>
{% endblock %}
{% block js %}
  <script type="module" src="http://localhost:8001/main.jsx"></script>
{% endblock %}