.sidebar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 1px;
  padding-left: 1rem;
}

[data-theme="dark"] .sidebar {
  color: #a6a9b4;
}

.sidebar__h3 {
  padding: 8px 8px 8px 10px;
  font-size: 1.1rem;
  transition: 0.3s;
  display: inline-block;
  margin: 0;
}

.sidebar__option {
  padding-left: 4px;
  position: relative;
}

.sidebar__option label,
.sidebar__option input {
  font-size: 0.8rem;
}

.sidebar__option input {
  margin-right: 3px;
}

.sidebar__option label {
  left: 20px;
  top: 45%;
  position: absolute;
  transform: translateY(-50%);
}

.sidebar__option_input {
  font-size: 0.8rem;
  padding-left: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__option_input label {
  padding-top: 5px;
}