.review-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .review-header {
    display: flex;
    flex-direction: row;
  }

  .review-header p:last-child {
    margin-left: auto;
  }
}